<properties>

    <property name="hibernate.cache.use_second_level_cache" value="true" />
    <property name="hibernate.cache.region.factory_class" value="org.hibernate.cache.jcache.internal.JCacheRegionFactory" />
    <property name="hibernate.javax.cache.uri" value="ehcache.xml" />
    <property name="hibernate.javax.cache.provider" value="org.ehcache.jsr107.EhcacheCachingProvider" />

</properties>
